.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #DCB253;
    color: #FFFFFF;
  }

.logo {
  flex-direction: row;
  align-items: center;
}

.logo img{
  width: 75px;
  height: 75px  
}