@font-face {
  font-family: 'Rochester';
  src: url('../../assets/Rochester/Rochester-Regular.ttf');
}

/* Styles pour le conteneur principal du carousel */
.carousel {
  position: relative; /* Position relative pour gérer le positionnement des éléments enfants */
  width: 100%; /* Le carousel occupe 100% de la largeur de son conteneur parent */
  overflow: hidden; /* Masque tout contenu qui dépasse les dimensions du carousel */
}

/* Styles pour le conteneur interne des éléments du carousel */
.carouselInner {
  display: flex; /* Utilisation de flexbox pour disposer les éléments en ligne */
  transition: transform 0.5s ease; /* Animation douce pour le défilement */
}

/* Styles pour chaque élément individuel du carousel */
.carouselItem {
  min-width: 100%; /* Chaque élément occupe 100% de la largeur disponible */
  position: relative; /* Position relative pour gérer le positionnement des éléments enfants */
  scroll-snap-align: start; /* Alignement sur le début de la zone de défilement */
  display: flex; /* Utilisation de flexbox pour centrer l'image */
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
}

/* Styles pour l'image à l'intérieur de chaque élément du carousel */
.carouselImage {
  max-width: 65%; /* Limite la largeur à 80% du conteneur parent */
  height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
  object-fit: contain; /* Contient l'image sans la rogner */
  border-radius: 15px;
}

/* Styles pour la légende ou le texte superposé à chaque élément du carousel */
.carouselCaption {
  position: absolute; /* Position absolue par rapport au premier parent positionné */
  bottom: 2%; /* Alignement en haut du conteneur */
  left: 50%; /* Centrage horizontal */
  transform: translateX(-50%); /* Centrer horizontalement */
  color: white; /* Texte en blanc */
  padding: 10px; /* Espacement intérieur de 10px autour du contenu */
  text-align: center; /* Centrer le texte */
  border-radius: 5px; /* Ajout de coins arrondis */
  max-width: 50%; /* Limite la largeur à 80% du conteneur parent */
  word-wrap: break-word; /* Permet la coupure des mots trop longs */
}

/* Styles pour le titre à l'intérieur de la légende */
.carouselTitle {
  margin: 0; /* Aucune marge autour du titre */
  color: #fff;
  text-shadow:     -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; /* Ajoute une bordure noire autour du texte */;
  font-family: 'Rochester';
  background-color: transparent;
  font-size: 3.5em; /* Taille de la police */
  
}

/* Styles pour les boutons de navigation */
.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.1);
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prevButton {
  left: -200px;
}

.nextButton {
  right: -200px;
}




