@font-face {
  font-family: 'Rochester';
  src: url('../../assets/Rochester/Rochester-Regular.ttf');
}

.footer {
    display: flex;
    align-items: center;
    background-color: #DCB253;
    color: #FFFFFF;
}

  .footerinfos {
    align-items: center;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

    h3 {
        color: #000;
        text-align: center;
        font-family: 'Rochester';
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        padding-top: 5%
    }

    h4 {
        color: rgba(0, 0, 0, 0.80);
        text-align: center;
        font-family: 'Moulpali';
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 138.889% */
        letter-spacing: -0.54px;
        margin: 0;
        padding-top: 5%;
    }

  p {
    color: #000;
    text-align: center;
    font-family: 'Moulpali';
    font-size: medium;
  }