@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Montserrat:wght@400;700&display=swap');

.movieDetailPage {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(180deg, #0f1c3f 0%, #1c2d6b 100%);
  color: #fff;
  min-height: 100vh;
}

.movieContent {
  max-width: 1200px;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: row; /* Aligne l'image et les détails côte à côte */
  align-items: flex-start; /* Aligne les éléments en haut */
  gap: 20px;
  padding: 20px;
}

.moviePoster {
  flex: 1; /* Prend 1 partie de l'espace disponible */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moviePosterImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.movieDetails {
  flex: 2; /* Prend 2 parties de l'espace disponible */
  width: 100%;
  border-radius: 5px;
}

.movieTitle {
  padding-bottom: 50px;
  font-family: 'Rochester', cursive;
  font-size: 3rem;
  margin: 25px;
}

.movieDirector, .movieInfo, .movieOverview {
  font-size: 1rem; /* Corrigé l'espace manquante */
  margin: 25px;
}

.movieOverview {
  color: #aaa;
  margin: 25px;
}

.loading, .error {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.error {
  color: #ff0000;
}

/* Media Query pour cacher l'image heroImage lorsque l'écran est inférieur à 800px et ajuster la largeur de MovieDetails */
@media (max-width: 800px) {
  .moviePoster {
    display: none;
  }
  
  .movieDetails {
    flex: 1; /* Prend toute la largeur disponible */
  }

  .movieContent {
    flex-direction: column; /* Change la direction pour column sur petits écrans */
    width: 100%;
  }
}
